<div class="d-flex justify-content-center pt-4">
  <div class="card p-4">
    <h1 class="text-center"> Counter: {{counter}} </h1>
    <p *ngIf="errorMessage !== ''" class="text-center" style="color: red;">{{ errorMessage }}</p>

    <div class="d-flex justify-content-between">
      <button (click)="increaseCounter()" class="btn btn-primary me-2">
        Increase +
      </button>

      <button (click)="decreaseCounter()" class="btn btn-secondary me-2">
        Decrease -
      </button>

      <div>
        <input class="form-control" type="text" [(ngModel)]="counter">
      </div>
    </div>
  </div>
</div>
